html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.smolText {
  text-align:center;
  text-decoration: none;
  color: white;
}

.Overhead {
  text-align: center;
  font-size: 250%;
  padding: 10px;
  color: white;
}
.reset-button {
  text-align: center;

}

canvas {
  outline: 5px solid #69898B;
  outline-offset: -10px;
  margin: auto;
  padding: 10px;
  display: block;
  font-size: 150%;
  background-image:url("https://github.com/InsiDoubt/DrawMachine/blob/main/DrawMachine_Final/Paper.jpg?raw=true");
  
}


button {
  font-size: 110%;
  margin: 0 auto;
  display: block;
  
}

